*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
	border: none;
	outline: none;
}

body {
	display: flex;
	justify-content: center;
	background: #202020;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1024px;
	width: 100%;
	
}

header, main, footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

section.main {
	width: 100%;
	min-height: 310px;
	background: #33CAD7;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 48px 48px;
	padding-top: 20px;
}

img.logo {
	width: 112px;
	height: 112px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	border-radius: 56px;
	-webkit-transition: all 0.3s ease;;
	-moz-transition: all 0.3s ease;;
	-o-transition: all 0.3s ease;;
	transition: all 0.3s ease;
}

img.logo:hover {
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
	border-radius: 45px;
}

.main h1 {
	font-weight: 400;
	font-size: 32px;
	margin-top: 20px;
	line-height: 1;
}

.main p {
	font-weight: 300;
	font-size: 14px;
	color: #FAFAFA;
}

.btn-main {
	margin-top: 25px;
	color: #FFF;
	width: 190px;
	padding: 12px;
	background: #33CAD7;
	border: 2px solid #F5F5F5;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
	border-radius: 25px;
	font-weight: 700;
	font-size: 15px;
	-webkit-transition: all 0.3s ease;;
	-moz-transition: all 0.3s ease;;
	-o-transition: all 0.3s ease;;
	transition: all 0.3s ease;
}

.btn-main:hover {
	background: #202020;
	color: #33CAD7;
}

.info-block {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

.info-block p {
	font-weight: 500;
	font-size: 17px;
	width: 265px;
	margin-bottom: 15px;
}

.arrows {
	display: flex;
	flex-direction: column;
}

.arrow {
	transform: rotate(90deg);
	background-image: url(../img/arrow.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	opacity: 40%;
}

.arrow-two {
	transform: rotate(90deg);
	position: relative;
	top: -15px;
	background-image: url(../img/arrow.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	opacity: 40%;
}

h2 {
	font-weight: 700;
	font-size: 22px;
	line-height: 1.6;
}

.line {
	width: 70px;
	height: 2px;
	background: #FFF;
	border: none;
	border-radius: 7px;
}

.features .line {
	margin-bottom: 20px;
}

.features {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.feature {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
	width: 230px;
}

.feature img {
	width: 200px;
	height: 200px;
	-webkit-transition: all 0.3s ease;;
	-moz-transition: all 0.3s ease;;
	-o-transition: all 0.3s ease;;
	transition: all 0.3s ease;
}

.feature h2 {
	font-weight: 700;
	font-size: 22px;
	padding-top: 5px;
}

.feature p {
	width: 220px;
	font-weight: 500;
	font-size: 16px;
}

section.prices {
	width: 100%;
	background: #33CAD7;
	border-radius: 48px 48px 0px 0px;
}

.under {
	margin-top: 30px;
	width: 100%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	border-radius: 48px 48px 0px 0px;
}

section.prices h2 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 320px;
	padding: 15px;

	background: #202020;
	border: 4px solid #E4E4E4;
	box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	margin-bottom: 20px;
}

.card img {
	width: 90px;
	height: 90px;
	margin: 10px;
}

.card h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}

.card .line {
	margin: 8px;
}

span.price_value {
	font-weight: 500;
	font-size: 17px;
}

span {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.3;
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #202020;
	border-radius: 48px 48px 0px 0px;
	margin-top: 30px;
	padding-bottom: 10px;
}

section.prices .info h2 {
	padding-top: 20px;
	padding-bottom: 5px;
	font-weight: 700;
	font-size: 24px;
}

section.prices .info p {
	font-weight: 500;
	font-size: 17px;
	width: 270px;
}

section.prices .info .arrow {
	margin-top: 10px;
}

section.prices .info button {
	margin-top: 15px;
}

footer {
	position: relative;
	top: -5px;
	width: 100%;
	padding-top: 20px;
	background: #202020;
}

footer h2 {
	font-weight: 700;
	font-size: 24px;
}

.social {
	margin-top: 10px;
}

.btn-social {
	background: #FFF;
	height: 50px;
	width: 50px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 10px;
	border-radius: 55px;
	-webkit-transition: all 0.3s ease;;
	-moz-transition: all 0.3s ease;;
	-o-transition: all 0.3s ease;;
	transition: all 0.3s ease;
}

.btn-social:hover {
	filter: drop-shadow(0px 0px 6px rgba(3, 155, 229, 0.7));
}

.tg {
	background-image: url(../img/tg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.vk {
	background-image: url(../img/vk.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

footer span {
	font-weight: 400;
	font-size: 14px;
}

#copyright {
	margin-top: 30px;
	padding-bottom: 5px;
}

@media (max-width: 315px) {
	.card {
		width: 90%;
	}
	.cards {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	section.prices .info p {
		width: 90%;
	}
	.info-block p {
		width: 90%;
	}
	.main h1 {
		font-size: 28px;
	}
}

@media (min-width: 740px) {
	section.prices .cards {
		display: flex;
		width: 100%;
		justify-content: space-around;
		flex-direction: row;
	}
	.card {
		width: 340px;
	}
}

@media (max-width: 760px) {
	.features {
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

@media (min-width: 1024px) {
	section.main {
		padding-top: 30px;
		min-height: 520px;
	}
	img.logo {
		width: 180px;
		height: 180px;
		border-radius: 100%;
	}
	.main h1 {
		margin-top: 40px;
		font-size: 50px;
	}
	.main p {
		font-size: 20px;
	}
	.btn-main {
		margin-top: 70px;
		width: 270px;
		font-size: 18px;
		padding: 15px;
	}
	.arrow {
		width: 40px;
		height: 40px;
	}
	.arrow-two {
		width: 40px;
		height: 40px;
	}
	.info-block p {
		font-size: 26px;
		width: 440px;
	}
	h2 {
		font-size: 32px;
	}
	.line {
		width: 100px;
		height: 4px;
	}
	.feature {
		width: 300px;
	}
	.feature img {
		width: 250px;
		height: 250px;
	}
	.feature h2 {
		font-size: 28px;
	}
	.feature p {
		font-size: 20px;
		width: 270px;
	}
	.cards {
		display: flex;
		width: 80%;
		height: 300px;
		flex-direction: row;
		justify-content: space-around;
	}
	.card h3 {
		font-size: 24px;
	}
	.card .line {
		width: 110px;
	}
	span.price_value {
		font-size: 20px;
	}
	.card img {
		width: 100px;
		height: 100px;
	}
	span {
		font-size: 17px;
	}
	.card {
		width: 360px;
	}
	section.prices .info h2 {
		font-size: 32px;
	}
	section.prices .info p {
		font-size: 20px;
		width: 300px;
	}
	footer h2 {
		font-size: 32px;
	}
	.btn-social {
		width: 60px;
		height: 60px;
	}
	footer span {
		font-size: 16px;
	}
	.container {
		max-width: 1100px;
	}
	.under {
		box-shadow: none;
	}
}